[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/imcoddy/hexo-theme-matery-metanet-press.git
[submodule "rebirth"]
	path = rebirth
	url = https://github.com/imcoddy/rebirth-of-bitcoin.git
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = git@github.com:imcoddy/hexo-theme-butterfly.git
[submodule "themes/volantis"]
	path = themes/volantis
	url = git@github.com:imcoddy/hexo-theme-volantis.git
